.container {
  width: 300px;
  text-align: center;
  padding-top: 5%;
}

.btn-block {
  margin: 10px auto 10px auto;
}

.btn-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn:hover {
  cursor: pointer;
}
